.brand {
  padding: 0 20px 30px 20px;

  @media (min-width: 1440px) {
    padding: 100px 0 0 0;
    max-width: 1200px;
    margin: 0 auto;
  }

  h2 {
    color: #7859cf;
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 30px;
    text-align: center;

    @include tw {
      font-size: 32px;
      line-height: 40px;
    }

    @media (min-width: 1440px) {
      font-size: 42px;
      line-height: 64px;
    }
  }

  p {
    font-size: 18px;
    line-height: 20px;
    text-align: justify;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 24px;
    }

    @media (min-width: 1440px) {
      margin: 27px auto;
      font-size: 24px;
      line-height: 30px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    padding-left: 30px;

    @include tw {
      padding-left: 60px;
    }

    @include dw {
      padding-left: 80px;
    }

    li {
      position: relative;

      &:before {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        background-color: #483a27;
        top: 5px;
        left: -30px;
        border-radius: 50%;

        @include tw {
          left: -36px;
          width: 10px;
          height: 10px;
        }

        @include dw {
          top: 18px;
          left: -46px;
        }
      }
    }
  }
}

.brand__info-dev {
  margin-top: 70px;
  color: rgb(213, 205, 205);
  transition: all .6s;

  &:hover {
    color: #483a27;
  }
}

.brand__info {
  color: rgb(213, 205, 205);
  transition: all .6s;

  &:hover {
    color: #483a27;
  }
}


