.button {
  background-color: #7a7293;
  line-height: 24px;
  padding: 8px 22px;
  border-radius: 15px;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all .3s;
  max-width: 250px;

  @include tw {
    padding: 11px 16px;
    font-size: 1.1em;
  }

  &:hover {
    background-color: #9070EC;
    color: #ffffff;
  }
  &:focus-visible{
    background-color: #9070EC;
    outline: 2px solid #7859CF;
    outline-offset: 3px;
    color: #ffffff;
  }
  &:active {
    background-color: #593CAC;
    color: #ffffff;
  }
  &:disabled {
    background-color: #BDBDBD;
  }

  &:visited {
    color: white;
  }

  &--basket {
    display: flex;
    background-color: #7859CF;
  }
}

