.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;

  a {
    position: relative;
    transition: all .3s ease-in-out;
  }
}

.contacts__item {
  line-height: 3px;
  font-size: 14px;
  text-transform: none;
}

.contacts__item br {
  @media (min-width: 1440px) {
    display: none;
  }
}

.contacts__item--telegram,
.contacts__item--email {
  a::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    top: 0;
    left: 10px;
    background-image: url("../../images/svg/telegram.svg");
    background-size: 50px 50px;
    border-radius: 8px;
    background-position: 50% 50%;

    @include tw() {
      left: 35px;
    }
  }
}

.contacts__item--email {
  a::before {
    background-image: url("../../images/svg/email.svg");
    top: 1px;
    left: 15px;
    background-size: 35px 35px;
  }
}

a:hover {
  opacity: 0.9;
}
