.data {
  background-color: #444446;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;

  @include dw() {
    padding-top: 50px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(42, 43, 45, 0.78);
    width: 100%;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }

  &._sending {
    opacity: 0.4;
    pointer-events: none;
  }

  h1 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    margin-left: 20px;

    @include tw {
      font-size: 36px;
      font-weight: 600;
      margin-left: 0;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    * {
      outline: none;
    }
  }

  .form__fieldset {
    border: none;
    display: flex;
    justify-content: center;
  }

  .form__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 570px;

    @include dw() {
      row-gap: 40px;
    }
  }

  .form__label {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    input, textarea {
      max-width: 550px;
      border-radius: 5px;
      padding: 5px 10px;
      border: none;
      font-size: 17px;

      @include dw() {
        padding: 15px 20px;
      }

      &:focus {
        box-shadow: 0 0 15px rgb(187, 243, 213);
      }
    }

    textarea {
      resize: vertical;
    }
  }

  .form__span {
    margin-bottom: 10px;
    display: block;
  }

  .form__item--select {

    span {
      margin-bottom: 10px;
      display: block;
    }

    select {
      height: 40px;
      width: 100%;
      border-radius: 5px;
      font-size: 18px;
      padding: 0 20px;
    }
  }

  .form__item--photo {
    margin-bottom: 120px;

  }

  .form__label-photo {
    position: relative;
    display: block;
    width: 130px;
    height: 40px;

    .form__photo-input {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 130px;
      opacity: 0;
      font-size: 0;
      cursor: pointer;
      padding: 0;
    }
  }

  .form__label--data {
    margin-bottom: 20px;

    @include dw() {
      margin-bottom: 30px;
    }

    .form__text-data {
      line-height: 22px;
      font-size: 14px;

      @include dw() {
        font-size: 24px;
        line-height: 36px;
      }
    }
  }

  .form__button-photo {
    display: inline-flex;
    min-height: 40px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: #7a7293;
    color: #fff;
    max-width: 120px;
    border: none;
    transition: 0.4s;
    cursor: pointer;
  }

  .form__preview {
    display: inline-flex;
    max-width: 100px;
    padding: 15px 0 0 0;
    max-height: 100px;
    margin-bottom: 120px;

    .form__image {
      width: 100%;
    }
  }

  .form__label--data {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    line-height: 140%;
    position: relative;
    cursor: pointer;

    &:before {
      content: "";
      align-self: flex-start;
      display: flex;
      align-items: center;
      border-radius: 4px;
      background-color: white;
      flex: 0 0 24px;
      height: 24px;
      margin: 4px 0 0 0;
    }

    &:after {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      top: 8px;
      left: 4px;
      background-color: #4fa8a0;
      border-radius: 4px;
      transition: transform 0.2s ease-in-out;
      transform: scale(0);
    }

    .form__text-data {
      order: 1;

      a {
        color: #4fa8a0;
      }
    }
  }

  .form__input--checkbox {
    display: none;
  }

  .form__input--checkbox:checked + .form__label--data:after {
    transform: scale(1);
  }

  .form__button {
    border-radius: 20px;
    border: none;
    background-color: #42d0cc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.4s;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0 9px 0 #071a18;
    letter-spacing: 2px;
    position: relative;
    max-width: 570px;
    width: 100%;

    @include dw() {
      padding: 20px 20px;
      font-size: 20px;
    }

    &:hover {
      background-color: #207a70;
      top: 3px;
      box-shadow: 0 6px 0 #071a18;
    }

    &:active {
      background-color: #4fa8a0;
      box-shadow: 0 0 0 #071a18;
      top: 9px;
    }
  }

  .form__input._error {
    box-shadow: 0 0 15px red;
  }

  .form__item._error .form__label--data:before {
    box-shadow: 0 0 15px red;
  }

  .form__image {
    border-radius: 20px;
  }
}


