::after,
::before {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

a,
body,
p,
ul,
ol,
dl,
dt,
dd {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Cormorant Garamond', 'Times New Roman', Georgia,'sans-serif';
  font-weight: 400;
  font-size: 20px;
  list-style-type: none;
  -webkit-user-select: none;
  user-select: none;
}

main {
  min-height: calc(75vh - 80px);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: #1f1f1f;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

h1 {
  font-family: 'Cormorant Garamond', 'Times New Roman', Georgia,'sans-serif'
}

h2 {
  font-family: 'Cormorant Garamond', 'Times New Roman', Georgia,'sans-serif'
}

h3 {
  font-family: 'Cormorant Garamond', 'Times New Roman', Georgia,'sans-serif'
}

p {
  font-family: 'Cormorant Garamond', 'Times New Roman', Georgia,'sans-serif'
}
