/* здесь используйте глобальные переменные */

$tw: 768px;
$dw: 1440px;
$mw: 767px;

@mixin tw {
  @media (min-width: $tw) {
    @content;
  }
}

@mixin dw {
  @media (min-width: $dw) {
    @content;
  }
}
